*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    grid-template-columns: 2fr auto;
    grid-template-rows: 1fr;
    place-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    font-family: "Open Sans", sans-serif;
    user-select: none;

}
.oouu{
    font-size: 2rem;
    text-align: center;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.582) inset;
    min-width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:"Chakra Petch", sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.205);
}
#guesses{
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.205);
        background-color: #fff;
        display: flex;
        flex-direction: column;
        padding: 30px;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        transition: 400ms;
}
#disp{
    height: 200px;
    width: 70%;
    margin-bottom: 5%;
    background-color: #f4f4f4;
    border-radius: 20px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.342));
    font-family:"Chakra Petch", sans-serif;
}
.wrong{
     border: 2px solid red;
     transition: 300ms;
}
.correct{
    border: 2px solid yellowgreen;
    transition: 300ms;
}
.shake{
        animation: shake 300ms ease-out ;
        border: 2px solid red;
}
@keyframes shake{
    50%{
        transform: translateX(10px);
    }
    70%{
           transform: translateX(-10px);
    }
    100%{
        transform: translateX(0px);
    }
}
input{
    width: 50%;
    padding: 10px;
    text-align: center;
    font-family: "Chakra Petch", sans-serif;
    font-size: 1.4rem;
    border: none;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.194) inset;
    border-radius: 10px;
    margin-bottom: 5%;
    outline: none;
}
#butt{
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: aquamarine;
    text-transform: uppercase;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.5rem;
        filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.251));
        transition: 200ms;
}
#bbNo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#dark-toggle{
     width: 30%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: beige;
    margin-top: 10px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.5rem;
        filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.251));
        transition: 200ms;
}
button:hover{
    transform: scale(1.1);
    transition: 200ms;
}
button:active{
    transform: scale(1);
    transition: 200ms;
}
#progress-container {
    width: 100%;
    height: 40px;
    background-color: #ddd;
    border-radius: 20px;
    overflow: hidden;
    margin: 10px 0;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.571) inset;

    position: relative;
        display: flex;
}

#progress-bar {
    height: 100%;
    width: 0%;
    background: linear-gradient(90deg, limegreen);
    transition: width 0.4s ease;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.571) inset;
    border-radius: 20px;

}
#odds{
    font-size: 1em;
    font-weight: 900;
    position: absolute;
    justify-self: center;
    align-self: center;
    color: black;
    width: 100%;
    text-align: center;
}


@media (max-width: 1256px) {
    body{
        flex-direction: column-reverse;
        gap: 5px;
        align-items: center;
        justify-content: center;
    }
    .container{
        width: fit-content;
        justify-content: center;
        align-items: center;
        /* max-width: 967vw; */
        min-width: 80vw;

    }
     
     #bbNo{
        flex-direction: row;
        justify-content: center;
        align-items: center;
 
     }
     .oouu{
        width: 30px;
     }
    }
@media (max-width: 680px){
    body{
        padding: 20px;
    }
    #disp{
        font-size: 1.3rem;
        font-weight: 700;
    }
    #butt{
        font-size: 0.6rem;
    }
    .oouu{
        font-size: 1rem;
        padding: 2px;
        height: 30px;
        width: 30px;
    }
         #bbNo{
            flex-wrap: wrap;
            gap: 5px;
            max-width: 90%;
     }
    #guesses{
        max-width: 80vw;
        padding: 5px;
    }
    input{
        font-size: 0.7rem;
    }
    #guessHead{
        font-size: 1.5rem;
        display: none;
    }
}
